/Users/cwwang/Documents/Openframeworks/of_preRelease_v007_osx/apps/myApps/Apesnake/FaceOSC
/Users/cwwang/Documents/Openframeworks/of_preRelease_v007_osx/apps/myApps/Apesnake/bin/ofxEdsdkExampleDebug.app

/Users/davidpenuela/development/Programing/openframeworks/of_preRelease_v007_osx/apps/cw&t/Apesnake/FaceOSC
/Users/davidpenuela/development/Programing/openframeworks/of_preRelease_v007_osx/apps/cw&t/Apesnake/bin/ofxEdsdkExampleDebug.app