/Users/cwwang/Documents/Openframeworks/of_preRelease_v007_osx/apps/myApps/Apesnake/FaceOSC
/Users/cwwang/Documents/Openframeworks/of_preRelease_v007_osx/apps/myApps/Apesnake/bin/ofxEdsdkExampleDebug.app